.App {
  display: block;
}

.parentbox{
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;	
}

.flexbox {
  height: 80%;
  width:  80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flexheader{
  width:100%;
  margin: auto;
  margin-bottom: 0px;	
  padding-bottom: 10px;
}

.flexheader h1 {
  font-family: ExoThin, Arial, serif;
  color:white;
  text-align: center;
  font-size: 36px;
  /* margin-bottom: 0px; */
  margin:auto;
}

.flexwrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}



