.Card-wrap {
  flex-grow: 0;
  margin: 0 40px 0 40px;
  flex-basis: 320px;
  box-sizing: border-box;
}

.Card-footer {
  /* height:100px; */
}

p {
  color: white;
  text-align: center;
}

.Card {
    /* border-radius: 3px; */
    /* background-color: #A2CBFA; */
    background: linear-gradient(135deg, transparent 25px, #1698d9 25px);     
    box-shadow: 0 2px 2px rgba(0,90,250,0.05), 
                0 4px 4px rgba(0,90,250,0.05), 
                0 8px 8px rgba(0,90,250,0.05), 
                0 16px 16px rgba(0,90,250,0.05);
    border-radius: 30px;             
    border-top-left-radius: 0;
    height: 60px;
    /* margin-bottom: 2%; */
    height: 470px;
    width: 310px;
    position: relative;
    padding: 5px;
}

.Card-selected {
  background: linear-gradient(135deg, transparent 25px, #d91667 25px);     
}

.Card-hovered {
  background: linear-gradient(135deg, transparent 25px, #2ea8e6 25px);     
}

.Card-selected-hovered {
  background: linear-gradient(135deg, transparent 25px, #e62e7a 25px);     
}

.Card-disabled {
  background: linear-gradient(135deg, transparent 25px, #b3b3b3 25px);     
  pointer-events: none;
}

.Card-content{
    background-image: url("../images/background_cat.png"), linear-gradient(135deg, transparent 23px, white 23px);
    background-position: bottom -100px center, 0 0;
    background-repeat: no-repeat, no-repeat;
    border-radius: 26px;   
    border-top-left-radius: 0;    
    height:100%;
    width:100%;    
    clip-path: 
      polygon(
        0 25px,  
        25px 0,  
        100% 0,  
        100% 100%,  
        0 100%  
      );
   position:relative;     
}

.Card-content-disabled{
  opacity: 0.5;
  user-select: none;
  -ms-user-select: none; 
}

.Card-circle {
  position: absolute;
  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: #1698d9;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.Card-circle div {  
  width: 100%;
  margin: auto;
  text-align: center;
}

.Card-circle-top {
  color: white;
  font-size: 40px;
  font-family: "Trebuchet MS";
}

.Card-circle-bottom{
  color: white;
  font-size: 21px;
  font-family: "Trebuchet MS";
}

.Card-circle-selected {
  background-color: #d91667;
}

.Card-circle-hovered {
  background-color: #2ea8e6;
}

.Card-circle-selected-hovered {
  background-color: #e62e7a;
}

.Card-circle-disabled{
  background-color: #b3b3b3;
}

.Card-content-wrap {
  padding-left: 30px;
  padding-top:  10px;
  padding-right: 30px;

}

.Card-content-wrap h4, .Card-content-wrap h3, .Card-content-wrap h2, .Card-content-wrap h1{
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

.Card-content-wrap h1 {
  font-size: 48px;
  font-weight: bold;
}

.Card-content-wrap h2 {
  font-size: 24px;
  font-weight: bold;
}

.Card-content-wrap h3 {
  font-size: 16px;
  color: #666666;
}

.Card-content-wrap h4 {
  font-size: 14px;
  color: #666666;
}

.Card-header-wrap {
  margin: 20pt 0 20pt 0;
}

.Card-footer a {
  text-decoration: none;
}

.Card-footer a:link, .Card-footer a:visited, .Card-footer a:hover{
  color: #1698d9;
  border-bottom: 1px dashed  #1698d9;
}

.Card-footer p {
  font-size: 12px;
}
 

/* .Card + .Card {
    margin-left: 2%;
} */
