html, body {
  height: 100%;
  font-family: 'ExoThin', sans-serif;
}

@font-face {
  font-family: 'ExoThin';
  font-style: normal;
  font-weight: 400;
  src: local('ExoThin'), url(../fonts/Exo2.0-Thin.otf);
}

body {
  margin: 0;
  background-image: linear-gradient(0deg , transparent, rgba(0,0,0, 0.1) 95%), linear-gradient(180deg , transparent, rgba(0,0,0, 0.1) 95%), url("../images/background_pattern.png");
  background-repeat: repeat, repeat, repeat;
  background-position: 0 0;
  background-size: auto, auto, 140px 140px;
  background-attachment:scroll;
}

#root {
 height: 100%;
}


